.main6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 80px 100px 80px;
  gap: 200px;
  font-family: sans-serif;
}

.main6 h4 {
  margin-bottom: 20px;
}

.main6-1 {
  width: 280px;
}

.main6-2 {
  width: 280px;
}


.main7 {
  text-align: center;
  margin-bottom: 100px;
}